html, body {
	height: 100%;
}

body {
	background-color: #1a1a1a;
}

#tabs {
	background-color: #222;
	height: 50px;
	border-bottom: #222;
}
#tabs button {
	float: left;
	width: 50px;
	height: 50px;
	background-color: #222;
	color: #fff;
	border: 0px;
	cursor: pointer;
	border-right: 1px solid #1a1a1a;
}
#tabs .items {
	float: left;
	width: calc(100% - 50px);
	height: 50px;
	background-color: #222;
	display: contents;
}
#tabs .items div {
	min-width: 50px;
	height: 50px;
	line-height: 20px;
	padding: 15px;
	text-align: center;
	color: #fff;
	display: inline-block;
	border-right: 1px solid #1a1a1a;
}
#tabs .items div.selected,
#tabs .items div:hover,
#tabs button:hover {
	background-color: aquamarine;
	cursor: pointer;
	color: #222;
}
#tabs select {
	float: right;
	border: 0px;
	background-color: #222;
	height: 100%;
	border-left: 1px solid #1a1a1a;
	color: #fff;
	padding: 15px;
	outline: none;

    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
}

#container {
	padding: 5px;
	display: inline-block;
}
#container .img {
	margin: 5px;
	float: left;
	border: 1px solid #000;
	border-style: solid !important;

	border-radius: 5px;
}
#container.mode_0 .img {
}
#container.mode_1 .img {
	height: 300px !important;
	width: 200px !important;
}
#container.mode_2 .img {
	height: 200px !important;
	width: 325px !important;
}
#container.mode_3 .img {
	height: 200px !important;
	width: 200px !important;
}
